.wrapper {
  display: flex;
  margin: 1rem 10%;
}

.outline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header1 {
  font-weight: 500;
  font-size: 31px;
  line-height: 68px;
  color: var(--color-black);
}

.header2 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 700;
}
.highlight {
  color: var(--color-blue);
}

.tagline {
  color: var(--color-black2);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

.btn {
  margin-top: 2rem;
}

@media screen and (max-width: 786px) {
  .wrapper {
    margin: 1rem 5%;
    flex-direction: column;
    align-items: center;
  }
  .wrapper img {
    margin-top: 1rem;
    width: 360px;
  }
  .header1 {
    font-size: 21px;
  }
  .header2 {
    font-size: 36px;
  }
}
