.wrapper {
  padding: 3rem 2rem;
  background-color: var(--color-white);
  /* margin: -20rem 10% -4rem 10%; */
  /* margin: 10%; */
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 1rem;
  box-shadow: 0.3em 0.3em 2em rgba(110, 105, 105, 0.4);
  z-index: 2;
}

.userInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.wrapper input {
  height: 47px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-white1);
  background-color: var(--color-white2);
}

.selection p {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black1);
  line-height: 30px;
  margin: 2rem 0rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 786px) {
  .userInputs {
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 4rem;
  }
  .cards {
    flex-direction: row;
  }
  .wrapper {
    transform: translate(-50%, -20%);
  }
}
