.advertiseBoard img {
  width: 100%;
  padding: 2rem 1rem;
}

.wrapper {
  margin: 1rem 10%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBoxWrapper {
  padding: 3rem 2rem;
  margin: 2rem 4rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0.3em 0.3em 2em rgba(110, 105, 105, 0.4);
}

.bannerLine {
  text-align: center;
  margin: 0 5%;
}

.bannerLine p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-black4);
}

@media screen and (min-width: 786px) {
  .wrapper {
    margin: 1rem 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
  }
  .advertiseBoard img {
    width: 360px;
    padding: 1rem 1rem 2rem 1rem;
  }
  .hospitalCards {
    display: flex;
    flex-direction: column;
  }
  .searchBoxWrapper {
    margin: 2rem 16%;
    padding: 3rem 2rem;
  }
}
