.wrapper {
  margin: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tabs p {
  color: var(--color-black1);
}

.tabs :last-child {
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.tabs :hover {
  cursor: pointer;
  color: var(--color-black2);
}

.desktopView {
  display: none;
}

.mobilView {
  display: block;
  color: var(--color-blue);
}

.mobilView:hover {
  cursor: pointer;
  color: var(--color-blue2);
}

@media screen and (min-width: 1224px) {
  .desktopView {
    display: block;
  }

  .mobilView {
    display: none;
  }
}
