.wrapper {
  margin: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--color-blue);
}

.logoImage {
  background-color: var(--color-blue);
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tabs p {
  color: var(--color-black1);
}

.tabs :last-child {
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.tabs :hover {
  cursor: pointer;
  color: var(--color-black2);
}
