.wrapper {
  background-color: var(--color-blue2);
  padding: 2rem 5%;
}

.socialSites {
  display: flex;
  gap: 1rem;
}

.socialSites:hover {
  cursor: pointer;
}

.leftPart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.rightPart {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
  padding: 2rem 0rem;
}

.rightPart ul {
  text-align: left;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 21px;
}
.rightPart ul li:hover {
  cursor: pointer;
  color: var(--color-white1);
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-white);
  padding: 2rem 0rem;
}

@media screen and (min-width: 786px) {
  .wrapper {
    padding: 2rem 10%;
  }
  .insideWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .leftPart {
    gap: 6rem;
  }
  .rightPart {
    gap: 10rem;
  }
  .copyright p {
    text-align: left;
  }
}
