:root {
  /* Global variables to be defined here */
  --color-white: #ffffff;
  --color-blue1: #84b7fe;
  --color-blue2: #3bb6fe;
  --color-blue3: #6f85ff;
  --color-blue4: #54c0ff;
  --color-purple1: #a666fe;
  --color-purple2: #9c7ffe;
  --color-purple3: #9097ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  font-family: "Poppins", sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
