.wrapper {
  display: flex;
  padding: 4rem 10% 2rem 10%;
  background-color: var(--color-white);
}

.cardslide {
  margin-bottom: 4rem;
}

@media screen and (min-width: 786px) {
  .wrapper {
    padding: 10rem 10% 4rem 10%;
  }
}
